/Volumes/
/Users/david/Downloads
/Users/david/Desktop
/Users/david/tmp
/Users/david/.Trash
/Users/david/Library/Caches
/Users/private/tmp
/private/var/vm/
/.Spotlight-V100
/.DocumentRevisions-V100
/.fseventsd
/Library/Caches
